# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/


database
internal/assets/icons
internal/assets/favicon.ico
internal/assets/css
internal/templates/html/*
internal/mdi/mdi-cheat-sheets
internal/pages/guide/guide-assets/*
!internal/pages/guide/guide-assets/placeholder.txt
internal/pages/editor/editor-assets/*
!internal/pages/editor/editor-assets/placeholder.txt
internal/weather/icons
.DS_Store
tmp
.benchmark
apps.yml
bookmarks.yml
config.yml
ports.yaml
var/
tmp-superflare.*
.tools/
tmp-fn-*.html
.env
*.fpk
fnapp/fnpack.exe
fnapp/fnnas.superflare/app/server/superflare
fnapp/fnnas.superflare/app/server/defaults/.env
fnapp/fnnas.superflare/app/server/defaults/config.yml
fnapp/fnnas.superflare/app/server/defaults/apps.yml
fnapp/fnnas.superflare/app/server/defaults/bookmarks.yml
fnapp/fnnas.superflare/app/server/defaults/ports.yaml
fnapp/superflare/app/server/superflare
fnapp/superflare/etc/
fnapp/superflare/var/

RELEASE_*
