<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.OptionTitle}} - Settings</title>
  <link rel="icon" href="{{ SiteIconURL .OptionSiteIcon }}"/>
  <link rel="shortcut icon" href="{{ SiteIconURL .OptionSiteIcon }}"/>
  {{ if eq .OptionSiteIcon "" }}
  <link rel="apple-touch-icon" href="{{ AppleTouchIconURL }}"/>
  <link rel="icon" type="image/png" sizes="192x192" href="{{ AndroidChrome192URL }}"/>
  <link rel="icon" type="image/png" sizes="512x512" href="{{ AndroidChrome512URL }}"/>
  {{ end }}
  {{ if .DebugMode }}
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/settings/sidebar.css">
  <link rel="stylesheet" href="/assets/css/settings/layout.css">
  <link rel="stylesheet" href="/assets/css/settings/theme.css">
  {{ else }}
  <style type="text/css">{{.PageInlineStyle}}</style>
  {{ end }}
  {{ if eq .PageName "Ports" }}
  <link rel="stylesheet" href="/assets/table/grid.css{{.DebugAssetVersion}}">
  <script src="/assets/table/grid.js{{.DebugAssetVersion}}"></script>
  <script src="/assets/table/grid.zh-CN.js{{.DebugAssetVersion}}"></script>
  {{ end }}
</head>
<body style="{{.PageAppearance}}" >
  <div class="pageview" id="page-settings">
    <div class="container">
      {{ template "settings-header.html" . }}
      <div class="main-container clearfix">
        {{ template "settings-sidebar.html" . }}

        {{ if eq .PageName "Theme" }}
          {{ template "settings-theme.html" . }}
        {{ end }}

        {{ if eq .PageName "Search" }}
          {{ template "settings-search.html" . }}
        {{ end }}

        {{ if eq .PageName "Appearance" }}
        {{ template "settings-appearance.html" . }}
        {{ end }}

        {{ if eq .PageName "Ports" }}
        {{ template "settings-ports.html" . }}
        {{ end }}

        {{ if eq .PageName "Others" }}
        {{ template "settings-others.html" . }}
        {{ end }}
      </div>

      <div class="footer-container">
        {{.OptionFooter}}
      </div>

    </div>
  </div>
  <script>document.addEventListener('keydown',function(e){if(e.key==='Escape')history.back();});</script>
</body>
</html>
